*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    min-width: 4523.2px;
    min-height: 2076.8px;
}
.container{
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, black 0%, black 100%), linear-gradient(0deg, rgba(39, 55, 77, 0.40) 0%, rgba(39, 55, 77, 0.40) 100%);
}
.card-left{
    width: 25%;
    height: 100%;
    background-color: black;
    border-right: 10px white solid;
}
.card-right{
    width: 75%;
    height: 100%;
    background: linear-gradient(0deg, black 0%, black 100%), linear-gradient(0deg, rgba(39, 55, 77, 0.40) 0%, rgba(39, 55, 77, 0.40) 100%);
}
.socia{
    color: white;
    font-size: 90px; 
    font-family: Inria Serif; 
    font-weight: 700;
    margin-left: 60px;
}
.option{
    padding-top: 200px;
    padding-left: 100px;
}
.home-option{
    display: flex;
    padding-top: 100px;
}
.homeSvg{
    width: 90px;
    fill: rgba(255, 255, 255, 0.50);
    flex-shrink: 0;
}
.homeLink{
    color: rgba(255, 255, 255, 0.50);
    font-size: 90px; 
    font-family: Inter; 
    font-weight: 100;
}
.homeLink a{
    color: rgba(255, 255, 255, 0.50);;
}
.community-option{
    display:flex;
    padding-top: 50px;

}
.communitySvg{
    width: 90px;
    fill: rgba(255, 255, 255, 0.50);
    flex-shrink: 0;
}
.communityLink{
    color: rgba(255, 255, 255, 0.50); 
    font-size: 90px; 
    font-family: Inter; 
    font-weight: 100;
}
.communityLink a{
    color: rgba(255, 255, 255, 0.50);
}
.friends-option{
    display:flex;
    padding-top: 50px;
}
.friendsSvg{
    width: 90px;
    fill: rgba(255, 255, 255, 0.50);
    flex-shrink: 0;
}
.friendsLink{
    color: rgba(255, 255, 255, 0.50); 
    font-size: 90px; 
    font-family: Inter; 
    font-weight: 100;
}
.friendsLink a{
    color: rgba(255, 255, 255, 0.50);
}
.setting-option{
    display:flex;
    padding-top: 50px;

}
.settingSvg{
    width: 90px;
    fill: white;
    flex-shrink: 0;
}
.settingLink{
    color: white; 
    font-size: 90px; 
    font-family: Inria Serif; 
    font-weight: 700;
}
.settingLink a{
    color: white;
}
.message-option{
    display:flex;
    padding-top: 50px;

}
.messageSvg{
    width: 90px;
    fill: rgba(255, 255, 255, 0.50);
    flex-shrink: 0;
}
.messageLink{
    color: rgba(255, 255, 255, 0.50); 
    font-size: 90px; 
    font-family: Inter; 
    font-weight: 100;
}
.messageLink a{
    color: rgba(255, 255, 255, 0.50);
}

.makeCenter{
    display: flex;
    justify-content: center;
}

.post-btn button{
    width: 700px;
    height: 150px;
    color: black; 
    font-size: 90px; 
    font-family: Inria Serif; 
    font-weight: 400; 
    background-color:#9DB2BF;
    border: none;
    border-radius: 100px;
    margin-top: 175px;
}

.post:hover a{
    color: black;
}

.post:hover{
    background-color: white;
}

.post a{
    color: white;

}
.user-profile{ 
    width: 100%;
    height:25%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.profilePic img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.Name{
    line-height: 100px;
}
.userName{
    color: white; 
    font-size: 60px; 
    font-family: Inter; 
    font-weight: 700;
}
.shortName{
    color: white; 
    font-size: 60px; 
    font-family: Inter; 
    font-weight: 400;
}
.threeDots svg{
    width: 90px;
    fill: white;
    flex-shrink: 0;
}

.profileInfo{
    display: flex;
}
.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    border-bottom: 10px white solid;
}
.communityHeader{
    color: white;
    font-size: 90px;
    font-weight: 700;
    font-family: Inria Serif;
    margin-left: 200px;
}
.searchSetup{
    display: flex;
    align-items: center;
    margin-left: 2300px;
}
.searchSvg{
    display: flex;
    align-items: center;
    fill: #63666A;
    width: 100px;
    height: 100px;
}
.searchLetter{
    font-size: 60px;
    font-weight: 400;
}
.searchLetter input{
    height: 70px;
    font-size: 60px;
    border: none;
    border-radius: 50px;
    width: 70%;
    text-align: center;
    color: white;
    background-color: #63666A;
}
::placeholder{
    color: black;
}
.communityContainer{
    width: 100%;
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.smallContainer{
    border:white solid;
    border-radius: 50px;
    width: 90%;
    height: 90%;
    border-width: 10px 10px 10px 10px;
    background: linear-gradient(0deg, black 0%, black 100%), linear-gradient(0deg, rgba(39, 55, 77, 0.40) 0%, rgba(39, 55, 77, 0.40) 100%);
    display: flex;
}
.sOption{
    width: 35%;
    height: 100%;
    border-right: 10px white solid;
}
.sDetails{
    width: 65%;
    height: 100%;
}
.ownOption{
    width: 100%;
    height: 25%;
}
.appOption{
    width: 100%;
    height: 75%;
}
.yourAccount{
    width: 100%;
    height: 40%;
    font-size: 60px;
    font-family: Inter;
    font-weight: 700px;
    color: rgba(255, 255, 255, 0.50);
    margin-left: 100px;
    margin-top: 50px;
}
.yourAccount a{
    color: rgba(255, 255, 255, 0.50);
}
.Notifications{
    width: 100%;
    height: 50%;
    font-size: 60px;
    font-family: Inter;
    font-weight: 700px;
    color: rgba(255, 255, 255, 0.50);
    margin-left: 100px;
}
.Notifications a{
    color: rgba(255, 255, 255, 0.50);
}
.Line{
    width: 90%; 
    height: 0px; 
    border: 5px white solid;
}
.Security{
    width: 100%;
    height: 13%;
    display: flex;
    margin-top: 50px;
}
.wordSecurity{
    font-size: 60px;
    font-family: Inter;
    font-weight: 700px;
    color: #1D9BF0;
    margin-left: 100px;
}
.wordSecurity a{
    color: #1D9BF0;
}
.securitySvg svg{
    width: 100px;
    height: 100px;
    fill: #1D9BF0;
}
.Privacy{
    width: 100%;
    height: 13%;
    font-size: 60px;
    font-family: Inter;
    font-weight: 700px;
    color: rgba(255, 255, 255, 0.50);
    margin-left: 100px;
}
.Privacy a{
    color: rgba(255, 255, 255, 0.50);
}
.Display{
    width: 100%;
    height: 13%;
    font-size: 60px;
    font-family: Inter;
    font-weight: 700px;
    color: rgba(255, 255, 255, 0.50);
    margin-left: 100px;
}
.Display a{
    color: rgba(255, 255, 255, 0.50);

}
.Blocking{
    width: 100%;
    height: 13%;
    font-size: 60px;
    font-family: Inter;
    font-weight: 700px;
    color: rgba(255, 255, 255, 0.50);
    margin-left: 100px;

}
.Blocking a{
    color: rgba(255, 255, 255, 0.50);

}
.helpsupport{
    
    width: 100%;
    height: 13%;
    font-size: 60px;
    font-family: Inter;
    font-weight: 700px;
    color: rgba(255, 255, 255, 0.50);
    margin-left: 100px;
}
.helpsupport a{
    color: rgba(255, 255, 255, 0.50);
}
.dSecurity{
    width: 100%;
    height: 15%;
    display: flex;
    margin-top: 50px;
}
.dSecuritySvg{
    width: 100px;
    height: 100px;
    fill: white;
}
.dSecurityWord{
    font-size: 60px;
    font-weight: 700;
    color: white;
    font-family: Inter;
}
.dChangePwd{
    width: 100%;
    height: 15%;
    display: flex;
}
.dPwd{
    width: 80%;
    height: 100%;
    margin-left: 100px;
    line-height: 125px;
}
.dCPwd{
    font-size: 60px;
    font-family: Inter;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.50);
}
.dPwdDetail{
    font-size: 40px;
    font-family: Inter;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.50);
}
.pwdSvg{
    margin-top: 50px;
    width: 150px;
    height: 150px;
    fill: rgba(255, 255, 255, 0.50);
}
.dHTfa{
    margin-top: 100px;
    width: 100%;
    height: 70%;
    display: flex;
}
.dTfa{
    width: 80%;
    height: 100%;
    margin-left: 100px;
}
.dCTfa{
    font-size: 60px;
    font-family: Inter;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.50);
    line-height: 125px;

}
.dTfaDetail{
    font-size: 40px;
    font-family: Inter;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.50);
}
.TfaSvg{
    margin-top: 50px;
    width: 150px;
    height: 150px;
    fill: rgba(255, 255, 255, 0.50);
}


